.education-details {
  text-align: center;
  margin-top: 50px;
}

.education-cards {
  display: flex;
  justify-content: space-around;
  margin: 50px 0;
}

.education-card {
  width: 300px;
  padding: 20px;
  background-color: #f8f8f8;
  border: 1px solid #ddd;
  border-radius: 5px;
}

.education-card h3 {
  margin-top: 0;
  font-size: 24px;
  color: #333;
}

.education-card p {
  margin: 10px 0;
  font-size: 16px;
  color: #777;
}

.education-chart {
  width: 50%;
  margin: 0 auto;
}
