.education-details {
  text-align: center;
  margin-top: 30px;
}

.education-cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: 30px 0;
}

.education-card {
  width: 80%;
  max-width: 350px;
  margin-bottom: 30px;
  padding: 20px;
  background-color: #f8f8f8;
  border: 1px solid #ddd;
  border-radius: 5px;
}

.education-card h3 {
  margin-top: 0;
  font-size: 22px;
  color: #333;
}

.education-card p {
  margin: 10px 0;
  font-size: 16px;
  color: #777;
}

.education-chart {
  width: 80%;
  max-width: 500px;
  margin: 0 auto;
}

@media screen and (min-width: 768px) {
  .education-cards {
    justify-content: space-around;
  }

  .education-card {
    width: 300px;
    margin-bottom: 0;
  }

  .education-chart {
    width: 50%;
    max-width: 500px;
  }
}
